[Unit]
Description=WildFly-{{ instance }} application server
After=network.target

[Service]
Type=simple
User=wildfly
Group=wildfly
ExecStart=/opt/wildfly-{{ instance }}/bin/run.sh

[Install]
WantedBy=multi-user.target
